{% extends "episodes/base.html" %}
{% block title %}Joy of Painting Episode Data{% endblock %}

{% block content %}
<div
  style="
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 2rem 0rem 2rem 0rem;
  "
>
  <div class="card">
    <h3># Episodes</h3>
    <p>{{ episode_count }}</p>
  </div> 
  <div class="card">
    <h3>Avg Number Colors</h3>
    <p>{{ avg_colors|stringformat:".1f" }}</p>
  </div>
</div>
<div>
  <div class="card">
    {{ colors_per_episode_plot|safe }}
  </div>
  <div class="card">
    {{ top_title_words_plot|safe }}
  </div>
</div>
{% endblock %}
